@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&family=Open+Sans&family=Young+Serif&display=swap");
body {
  font-family: "Lato", sans-serif;
  font-family: "Nunito", sans-serif;
}

.main {
  background: #f9f9fc;
}
.btn-bg {
  background-color: #0745fe;
}
.btn-icon {
  color: #0745fe;
}
.bg-color {
  background: #dcdce1;
}
.icon-bg-color {
  background: #f0f0f4;
}
.icon-color {
  color: #aeadad;
}
.color-option-1 {
  color: #67666b;
}
.color-option-2 {
  color: #2c3fde;
}

.color-option-3 {
  color: #eeb65a;
}

.color-option-4 {
  color: #312822;
}

.color-option-5 {
  color: #d0ccbe;
}
.nav-side {
  z-index: -1;
}
tr {
  cursor: pointer;
}
.side-nav {
  height: 100vh;
}
