.backgroundImage{
background: url('/week8/images/background2.avif'); 
background-repeat: no-repeat;  
 background-size: cover;
}


#sideBar a {
    text-decoration: none;
    color: white;
}

#sideBar div:hover {
    background-color: grey;
    transition: 0.5s;
    border-left: 7px solid yellow;
}

#sideBar div {
    padding: 4% 7%;
    border-bottom: 1px solid rgb(207, 197, 197);
}

#sideBar a .active {
    background-color: grey;
    transition: 0.5s;
    border-left: 7px solid yellow;
}