*{
    transition: all 0.3s ease;
}
.body{
    overflow: hidden;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins',sans-serif;
}

.header{
    padding: 10px;
    text-align: center;
    background-color: rgb(255, 192, 23);
    color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.header-title img{
    width: 50px;
    margin-right: 10px;
    border: 1px solid black;
}
.header-title a, h1{
    text-decoration: none;
    color:black;
    margin-bottom: 0px;
    padding: 0px;
    
}

.header-menu ul{
    list-style: none;
    margin-bottom: 0px;
}
.header-menu li{
    padding: 7px 12px;
    cursor: pointer;
}
.menu-link{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.menu-link:hover{
    color: white;
}
.header-menu .menu-button{
    background-color: black;
    border-radius: 20px;
    color: rgb(255, 192, 23);
    padding: 7px 20px 9px 20px !important;
}
.header-menu li:hover{
    color:white;
}
.header-menu .menu-button:hover{
    color:white;
    background-color: black;
}
.main-content{
    background-color: rgb(255, 192, 23);
    padding-bottom: 50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
}
.content-text h1{
    font-size: 118px;
    padding:50px 50px  10px 50px;
}
.content-text p{
    font-size: 28px;
    font-family: 'Poppins',sans-serif;
    padding-bottom: 10px;
}
.content-text button{
    font-size: 28px;
    font-family: 'Poppins',sans-serif;
    border-radius: 32px;
    padding: 12px 50px 10px 50px;
    color:rgb(255, 192, 23);
    
}
.content-text button:hover{
    background-color: black;
    color: white;
    
}
.photo-container{
    background-image: url('../assets/images/keyboard.jpg');
    height: 482px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    margin: 0; /* Remove default margin */
    display: flex;
    align-items: center;
    justify-content: center;
}
