body {
    font-family: "Open Sans", sans-serif;
    background: #f6f9ff;
    color: #444444;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif;
  }
a{
    text-decoration: none;
}

.header{
    transition: all 0.5s;
    z-index: 1;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
}
.logo{
    width: 280px;
    line-height: 1;
    text-decoration: none;
}
.logo img{
    max-height: 26px;
    
}
.logo span{
    font-size: 26px;
    font-weight: 700;
    color: #012970;
   
    font-family: "Nunito", sans-serif;
}
.toggle-sidebar-btn{
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
}
.search-box{
    min-width: 360px;
    padding: 0 20px;
}
.header .search-form{
    width: 100%;
}
.search-form:hover{
    outline: none;
    box-shadow: 0 0 10px 0 rgba(1, 41, 112, 0.15);
    border: 1px solid rgba(1, 41, 112, 0.3);
}
.header .search-form button{
    border: 0;
    padding: 0;
    margin-left: -30px;
    background: none;
}

.header .search-form input{
    font-size: 14px;
    color: #012970;
    border: 1px solid rgba(1, 41, 112, 0.2);
    padding: 7px 38px 7px 8px;
    border-radius: 3px;
    transition: 0.3s;
    width: 100%;
}

.header-nav > ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-link{
    display: block;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.header .nav-icon{
    font-size: 22px;
    color: #012970;
    margin-right: 25px;
    position: relative;
}
.header .badge{
    position: absolute;
    inset: -2px 3px auto auto;
    font-weight: normal;
    font-size: 12px;
    padding: 3px 6px;
}
.header .nav-account img{
    max-height: 36px;
}
.header .nav-account span{
    font-size: 14px;
    font-weight: 600;
}
.sidebar{
    position: fixed;
    font-family: "Open Sans",sans-serif;
    line-height: 1.6;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
}
.sidebar-nav li{
    margin-bottom: 5px;
    white-space: nowrap;
}           
.sidebar-nav .nav-link{
    font-size: 15px;
    font-weight:600;
    color: #012970;;
    transition: 0.3;
    background: #f6f9ff;
    padding: 10px 15px;
    border-radius: 4px;
}
.sidebar-nav .nav-link:hover{
    color: #fff;
    background: #012970;
}
.nav-link i{
    margin-right: 10px;
}
.sidebar-nav .nav-heading{
    font-size: 11px;
    text-transform: uppercase;
    color: #899bbd;
    font-weight: 600;
    margin: 10px 0 5px 15px;
}
.main{
    margin-top: 60px;
    margin-left: 300px;
    padding:20px 30px;
    transition: all 0.3s;
    
}
.main-title h1{
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
    font-family: "Nunito",sans-serif;
}
.main-title .breadcrumb{
    font-size: 14;
    font-weight: 600;
    font-family: "Nunito",sans-serif;
    
}
.breadcrumb a{
    color: #899bbd;
    transition: 0.3s;
}
.breadcrumb:active{
    color:#012970;
}


/* == RESPONSIVE ==*/
.w-class-resp{
    width:0;
    padding-left: 0;
    padding-right: 0;
}
.v-class-resp{
    opacity: 0;
}
.m-class-resp{
    margin-left: 0px;
}
.contact .info-box {
    padding: 28px 30px;
}
.card {
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.contact .info-box i {
    font-size: 38px;
    line-height: 0;
    color: #4154f1;
}
.contact .info-box h3 {
    font-size: 20px;
    color: #012970;
    font-weight: 700;
    margin: 20px 0 10px 0;
}
.contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
.contact .php-email-form button {
    background: #4154f1;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
