.profile-img {
  border-radius: 100px;
  height: 100px;
  width: 100px;
}
.admin-name {
  font-size: 15px;
  font-weight: bold;
}

.box-1 {
  height: 100px;
  width: 100px;
  background-color: black;
}
table {
  border-collapse: collapse;
  width: 100%; /* Adjust the width as needed */
  /* Add some margin for better appearance */
}

th,
td {
  border: 2px solid #dddddd;
  padding: 15px;
  text-align: left;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}

th {
  background-color: lightyellow;
}

.completed {
  margin-left: 250px;
}
