*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper{
  overflow: hidden;
  background-color:  rgb(221, 234, 244);;
}
#sidebar-wrapper {
  min-height: 100vh;
  margin-left: 0;

}

#sidebar-wrapper .sidebar-heading {
  padding: 14px 20px;
 cursor: pointer;
}


.sidebar_profile{
  padding: 10px;
  background-color:aliceblue;
  margin: 10px;
  border-radius: 9px; 
}

.sidebar_profile .list-group-item{
  background: transparent;
  border: none;
}
.sidebar_profile .list-group-item i{
  color:gray;
  font-size: 24px;
  padding-left: 0px;
}


#sidebar-wrapper .list-group {
  width: 250px;
}
.list-group-item {
  border: none;
  padding: 6px 10px;
  font-size: 16px;
 
}
.list-group-item i{
  padding: 10px;
  padding-right: 15px;
  font-size: 18px;
}

#page-content-wrapper{
  min-width:100vw;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.input-group{
  background-color: white;
  border-radius: 5px;
  border: none;
}
form .input-group{
  border: none;
  outline: none;  }

form{
border: none;
outline: none;
}
.second-topbar .navbar a .btn{
background-color: white;

}



/* Tabel  */
i{
  font-size:16px;
  color:grey;
}

.table{
  border-collapse:separate ;
  border-spacing: 0 10px;
  border-radius: 10px;
}
.table thead th{
  
  background: transparent;
  border: none;
  color: gray;
  text-transform: uppercase;
}
.table tbody tr{
  background-color:#e0e0e0;
  
}

.table tbody tr td{
  border: none;
 
}
.table tbody tr td:not(:nth-child(2)){
padding-top: 40px;
}
.table tbody tr td img{
  height: 100px;
  width: 100px;
}
.table tbody tr td btn{
      width: 50px;
}



@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}
}